.job-box {
  padding-top: .5em;
  padding-left: 2em;
  padding-right: 2em;
  // background-color: #E0E0E0;

  .job-list {
    min-height: 400px;
    max-height: 60vh;
    // overflow: auto;
  }

  .job-detail {
    min-height: 400px;
    // max-height: 60vh;
  }
}
