.app-header {
  height: 100%;
  padding-top: 3em;

  .themes {
    margin-right: 4em;

    .theme-icon {
      color: #505050;
      transition: color .4s ease;
      font-size: 40px;
  
      &.light:hover {
        color: #d1ce29;
      }
  
      &.dark:hover {
        color: #1f0dc5;
      }
    }
  }

  .btn-logo {
    margin-left: 11em;
    margin-bottom: 30px;

    &:focus {
      box-shadow: none;
    }

    .product-logo-full {
      height: 80px;
      width: 400px;
      background-image: url('../../assets/images/Logo_full.svg');
      background-repeat: no-repeat;
    }

    .product-logo-min {
      height: 70px;
      width: 70px;
      background-image: url('../../assets/images/Logo_minimal.svg');
      background-repeat: no-repeat;
    }
  }

  .btn-user {
    margin-right: 11em;
    margin-bottom: 30px;

    &:focus {
      box-shadow: none;
    }

    .icon {
      height: 64px;
      width: 64px;
      display: flex;
      background-image: url('../../assets/images/avatar-default.svg');
      background-repeat: no-repeat;
    }
  }
}