$dark-theme-primary: (
  50: #e4e6ed,
  100: #bac0d4,
  200: #8e98b6,
  300: #647299,
  400: #455686,
  500: #233b75,
  600: #1e356d,
  700: #152c62,
  800: #0d2456,
  900: #031540,
  A100: #bac0d4,
  A200: #8e98b6,
  A400: #455686,
  A700: #152c62,
)