$light-theme-primary: (
  50: #e6f4e4,
  100: #c4e4bd,
  200: #9ed392,
  300: #75c365,
  400: #55b641,
  500: #31a913,
  600: #269a06,
  700: #148900,
  800: #007800,
  900: #005a00,
  A100: #c4e4bd,
  A200: #9ed392,
  A400: #55b641,
  A700: #148900,
);