$light-theme-primary: (
  50: #e1f3f1,
  100: #b4e2dc,
  200: #83d0c5,
  300: #50bdae,
  400: #29ae9c,
  500: #039f8b,
  600: #02917e,
  700: #00816e,
  800: #00715f,
  900: #005543,
  A100: #b4e2dc,
  A200: #83d0c5,
  A400: #50bdae,
  A700: #00816e,
);

$light-theme-secondary: (
  50:  #fbe9e7,
  100: #ffccbc,
  200: #ffab91,
  300: #ff8965,
  400: #ff6f43,
  500: #ff5622,
  600: #f4501e,
  700: #e64919,
  800: #d84215,
  900: #bf350c,
  A100: #ffccbc,
  A200: #ffab91,
  A400: #ff6f43,
  A700: #e64919,
);