$dark-theme-primary: (
  50: #dcecec,
  100: #a9d0cf,
  200: #73b2af,
  300: #3f9590,
  400: #1b807b,
  500: #006c65,
  600: #00615a,
  700: #00534c,
  800: #02433d,
  900: #052924,
  A100: #a9d0cf,
  A200: #73b2af,
  A400: #1b807b,
  A700: #00534c,
);

$dark-theme-secondary: (
  50: #f8e2de,
  100: #d9bbba,
  200: #b59190,
  300: #926967,
  400: #7a4b4a,
  500: #612e2f,
  600: #562729,
  700: #471d20,
  800: #381218,
  900: #29050a,
  A100: #d9bbba,
  A200: #b59190,
  A400: #7a4b4a,
  A700: #471d20,
);